{% extends 'map.html' %}

{% block leftside %}
<button type="button" class="purpleblock">
    <span>Adopt/Purchase a Pet</span> <br><br>
    <span class="icon">
        <i class="fas fa-home"></i>
    </span>
  </button>
<br><br> 
<div class="select"> 
  <select>
    <option>Select an Animal Species</option>
    <option>Cat</option>
    <option>Dog</option>
    <option>Fish</option>
    <option>Guinea Pig</option>
    <option>Pig</option>
    <option>Tortoise</option>
    <option>Raccoon</option>
    <option>Fox</option>
    <option>Bird</option>
    <option>Rabbit</option>
    <option>Horse</option>
    <option>Ferret</option>
    <option>Rat</option>
    <option>Goat</option>
    <option>Hedgehog</option>
    <option>Hamster</option>
    <option>Gerbils</option>
    <option>Reptile</option>
  </select>
</div>
  <form>
    <textarea class="textarea" placeholder="Breed" rows="1"></textarea>
    <textarea class="textarea" placeholder="Age in years" rows="1"></textarea>
    <textarea class="textarea" placeholder="Location" rows="1"></textarea>
    <textarea class="textarea" placeholder="Contact Info" rows="1"></textarea>
  </form>
  <div><br><br>
      <a class="button is-danger">
        Search
      </a>
    </div>
      {% endblock %}