{% extends 'base.html' %}


{% block content %}
<style>
.split {
  height: 92%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
  text-align: center;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  display: inline-block;
}

/* Control the left side */
.left {
    width: 30%;
    height: 92%;
  left: 0;
  background-color: rgb(221, 216, 216);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* Control the right side */
.right {
    width: 70%;
  right: 0;
  background-color: hsl(348, 86%, 61%);

}
.box {
    width: 900px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.blueblock {
  display: block;
  width:  150px;
  height: 100px;
  border: none;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: cornflowerblue;
  
  
} 
.center {
    text-align: center;
    display: inline-block;
    width: 400px;
    height:100%;
}
.purpleblock {
  display: block;
  width:  150px;
  height: 100px;
  border: none;
  margin: 14px 28px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(152, 100, 237);
  
   /* again, I removed the redbox and pinkbox so that I wouldn't need the map for box formatting */
} 
  
.greenblock {
  display: block;
  width:  150px;
  height: 100px;
  border: none;
  margin: 28px 28px;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(119, 238, 103);
  
  
}


</style>

<div class="split left">
    <div class="center content is-normal">
      {% block leftside %}

      {% endblock %}

   </div>
</div>
  <div class="split right">
    <div class="centered content is-medium">
      <img src= "{{url_for('static', filename = 'map.png')}}">
          
    </div>
  </div>

{% endblock %}